<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "partials/_head" %>
    <%= partial "partials/_analytics" %>
  </head>
  
  <body>
    <%= partial "partials/icons" %>
    <%= yield %>
    <%= javascript_include_tag  "main" %>
    <script src="http://use.typekit.com/<%= data.content.meta.typekit_id %>.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>
