<section class="m-card m-github">
  <h1>Code</h1>
  <ol>
    <% data.repos.each do |r| %>
      <li class="m-github__repo">
          <h2 class="m-github__name"><a href="<%= r.html_url %>"><%= r.name %></a></h2>

          <div class="m-github__meta">
            <a href="<%= r.html_url %>/stargazers" class="icon-star"><%= r.stargazers_count %></a>
            <a href="<%= r.html_url %>/network" class="icon-fork"><%= r.forks %></a>
          </div>

        <% unless r.description == "" %>
          <p class="m-github__description"><%= r.description %></p>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>
