<% unless data.goodreads.empty? %>
  <section class="m-card p-list">
    <h1>Reading</h1>
    <ul>
      <% data.goodreads.each do |book| %>
        <li class="p-list__item">
          <a href="<%= book.url %>" class="p-list__image">
            <%= goodreads_image_tag(book) %>
          </a>
          <div class="p-list__meta">
            <span class="p-eyebrow">
              <%= book.shelf.gsub("-", " ") %>
            </span>
            <a href="<%= book.url %>" class="p-list__title"><%= book.title %></a>
            <span class="p-list__author"><%= book.author %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
