<% unless data.goodreads.empty? %>
  <section class="m-card m-list">
    <h1>Reading</h1>
    <ul>
      <% data.goodreads.each do |book| %>
        <li>
          <div class="m-list__item">
            <a href="<%= book.url %>" class="m-list__image">
              <%= goodreads_image_tag(book) %>
            </a>
            <div class="m-list__meta">
              <span class="m-list__eyebrow">
                <%= book.shelf.gsub("-", " ") %>
              </span>
              <a href="<%= book.url %>" class="m-list__title"><%= book.title %></a>
              <span class="m-list__author"><%= book.author %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>