<meta charset="UTF-8">
<%= inline_stylesheet "all" %>
<meta name="author" content="<%= data.content.meta.author %>">
<meta name="description" content="<%= data.content.meta.description %>">
<meta name="verify-v1" content="<%= data.content.meta.google_validation %>">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/png" href="<%= image_url "favicon.png" %>">
<link rel="preload" href="https://use.typekit.net/<%= data.content.meta.typekit_id %>.js" as="script">
<title><%= data.content.meta.title %></title>
<%= javascript_include_tag  "main", defer: 'defer' %>
<%= javascript_include_tag "https://use.typekit.net/#{data.content.meta.typekit_id}.js", async: 'async', onload: 'try{Typekit.load({async:true})}catch(e){}' %>
<script>
if (navigator.serviceWorker) {
  navigator.serviceWorker.register('/service_worker.js', {
    scope: '/'
  });
}
</script>
<% unless data.content.meta.google_analytics_id.nil? %>
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('<%= data.content.meta.gosquared_id %>');
</script>
<% end %>
