<meta charset="UTF-8">
<%= inline_stylesheet "atf" %>
<meta name="author" content="<%= data.content.meta.author %>">
<meta name="description" content="<%= data.content.meta.description %>">
<meta name="verify-v1" content="<%= data.content.meta.google_validation %>">
<meta name="viewport" content="width=device-width">
<%= stylesheet_link_tag "stats", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "photoblog", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "twitter", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "instagram", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "list", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "elsewhere", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<%= stylesheet_link_tag "footer", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
<link rel="icon" type="image/png" href="<%= image_url "favicon.png" %>">
<link rel="preconnect" href="https://use.typekit.net" crossorigin>
<title><%= data.content.meta.title %></title>
<%= javascript_include_tag  "main", async: 'async' %>
<%= javascript_include_tag  "loadcss", async: 'async' %>
<script>
  (function(d) {
    var config = {
      kitId: '<%= data.content.meta.typekit_id %>',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
<% unless data.content.meta.google_analytics_id.nil? %>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','<%= data.content.meta.google_analytics_id %>','auto');ga('send','pageview');</script>
<% end %>
