<meta charset="UTF-8">
<%= inline_stylesheet "all" %>
<meta name="author" content="<%= data.content.meta.author %>">
<meta name="description" content="<%= data.content.meta.description %>">
<meta name="verify-v1" content="<%= data.content.meta.google_validation %>">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/png" href="<%= image_url "favicon.png" %>">
<link rel="preload" href="https://use.typekit.net/<%= data.content.meta.typekit_id %>.js" as="script">
<title><%= data.content.meta.title %></title>
<%= javascript_include_tag "https://use.typekit.net/#{data.content.meta.typekit_id}.js", async: 'async', onload: 'try{Typekit.load({async:true})}catch(e){}' %>
<script>
if (navigator.serviceWorker) {
  navigator.serviceWorker.register('/service_worker.js', {
    scope: '/'
  });
}
</script>
<% unless data.content.meta.google_analytics_id.nil? %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= data.content.meta.google_analytics_id %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', '<%= data.content.meta.google_analytics_id %>');
</script>
<% end %>
