<meta charset="utf-8">
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<title><%= data.content.meta.title %></title>
<meta name="author" content="<%= data.content.meta.author %>">
<meta name="description" content="<%= data.content.meta.description %>">
<meta name="verify-v1" content="<%= data.content.meta.google_validation %>">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<link rel="icon" type="image/png" href="<%= image_url "favicon.png" %>">
<link rel="canonical" href="<%= data.content.meta.canonical_url %>">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom><%= inline_css "all" %></style>
<%= stylesheet_link_tag "https://use.typekit.net/#{data.content.meta.typekit_id}.css" %>
