<% unless data.music.empty? %>
  <section class="m-card p-list">
    <h1>Listening</h1>
    <ol>
      <% data.music.each do |album| %>
        <li class="p-list__item">
          <a href="<%= album.url %>" class="p-list__image">
            <%= music_image_tag(album) %>
          </a>
          <div class="p-list__meta">
            <span class="p-eyebrow">
              <%= album.release_date.split('-').first %>
            </span>
            <a href="<%= album.url %>" class="p-list__title"><%= album.name %></a>
            <span class="p-list__author"><%= album.artists.join(', ') %></span>
          </div>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
