<% unless data.music.empty? %>
  <section class="m-card p-list">
    <h1>Listening</h1>
    <ol>
      <% data.music.each do |artist| %>
        <li class="p-list__item">
          <a href="<%= artist.url %>" class="p-list__image">
            <%= artist_image_tag(artist) %>
          </a>
          <div class="p-list__meta">
            <a href="<%= artist.url %>" class="p-list__title"><%= artist.name %></a>
            <span class="p-list__author"><%= pluralize artist.albums, 'album' %> &middot; <%= pluralize artist.plays, 'play' %></span>
          </div>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
