<% unless data.rdio.empty? %>
  <section class="m-card m-list">
    <h1>Listening</h1>
    <ol>
      <% data.rdio.each do |album| %>
        <li>
          <div class="m-list__item">
            <a href="<%= album.shortUrl %>" class="m-list__image">
              <%= rdio_image_tag(album) %>
            </a>
            <div class="m-list__meta">
              <a href="<%= album.shortUrl %>" class="m-list__title"><%= album.name %></a>
              <span class="m-list__author"><%= album.artist %></a>
            </div>
          </a>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>