<% unless data.rdio.empty? %>
  <section class="b-card b-list">
    <h3>Listening</h3>
    <ol>
      <% data.rdio.each do |album| %>
        <li>
          <div class="b-list__item">
            <a href="<%= album.shortUrl %>" class="b-list__image">
              <%= rdio_image_tag(album) %>
            </a>
            <div class="b-list__meta">
              <a href="<%= album.shortUrl %>" class="b-list__title"><%= album.name %></a>
              <span class="b-list__author"><%= album.artist %></a>
            </div>
          </a>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>