<section class="m-stats">
  <% if data.respond_to?(:wpt) %>
    <div class="m-stats__stat">
      <div class="m-stats__number"><a href="<%= data.wpt.result_url %>"><%= format_number data.wpt.speed_index %></a></div>
      <div class="m-stats__meta">Current Speed Index</div>
    </div>
  <% end %>
  <div class="m-stats__stat">
    <div class="m-stats__number"><%= format_number data.commits.total_commits %></div>
    <div class="m-stats__meta">Commits in the past month</div>
  </div>
  <div class="m-stats__stat">
    <div class="m-stats__number"><%= format_number data.commits.additions %></div>
    <div class="m-stats__meta">Code additions in the past month</div>
  </div>
  <div class="m-stats__stat">
    <div class="m-stats__number"><%= format_number data.commits.deletions %></div>
    <div class="m-stats__meta">Code deletions in the past month</div>
  </div>
  <div class="m-stats__stat">
    <div class="m-stats__number"><%= format_number data.withings.steps %></div>
    <div class="m-stats__meta">Steps taken today</div>
  </div>
  <div class="m-stats__stat">
    <div class="m-stats__number"><%= format_number data.withings.distance %></div>
    <div class="m-stats__meta">Kilometers walked/run today</div>
  </div>
</section>
