<section class="m-card m-twitter">
    <% t = data.tweets.first %>
    <span class="p-eyebrow">Latest Tweet</span>
    <p class="m-twitter__tweet"><%= t.expanded_text %></p>
    <div class="m-twitter__meta">
      <div class="m-twitter__user">
        <a href="https://twitter.com/<%= data.twitter.screen_name %>" class="m-twitter__avatar">
          <%= twitter_avatar_image_tag(data.twitter.screen_name, data.twitter.name) %>
        </a>
        <div class="m-twitter__username">
          <a href="https://twitter.com/<%= data.twitter.screen_name %>">
            <%= data.twitter.name %><br/><span class="m-twitter__screenname">@<%= data.twitter.screen_name %></span>
          </a>
        </div>
      </div>
      
      <div class="m-twitter__actions">
        <span class="m-twitter__timestamp">
        <% unless t.in_reply_to_status_id_str.nil? || t.in_reply_to_screen_name.nil? %>
          <a href="<%= "http://twitter.com/#{t.in_reply_to_screen_name}/status/#{t.in_reply_to_status_id_str}" %>">In reply to @<%= t.in_reply_to_screen_name %></a>, 
        <% end %>
        <a href="<%= "https://twitter.com/#{data.twitter.screen_name}/status/#{t.id_str}" %>">
          <%= formatted_date_in_eastern(t.created_at, "%-d %B %Y") %>
        </a>
        </span>
        <a class="m-twitter__action" href="https://twitter.com/intent/tweet?in_reply_to=<%= t.id_str %>" title="Reply"><%= inline_svg "svg-reply" %></a>
        <a class="m-twitter__action" href="https://twitter.com/intent/retweet?tweet_id=<%= t.id_str %>" title="Retweet"><%= inline_svg "svg-retweet" %></a>
        <a class="m-twitter__action" href="https://twitter.com/intent/favorite?tweet_id=<%= t.id_str %>" title="Favorite"><%= inline_svg "svg-star" %></a>
      </div>
    </div>
</section>
