<% unless data.untappd.empty? %>
  <section class="b-card b-list">
    <h1>Responsibly drinking</h1>
    <ol>
      <% data.untappd.each do |beer| %>
        <li>
          <div class="b-list__item">
            <a href="<%= beer.checkin_url %>" class="b-list__image">
              <%= untappd_image_tag(beer) %>
            </a>
            <div class="b-list__meta">
              <span class="b-list__eyebrow"><%= beer.type %> &middot; <%= beer.abv %></span>
              <a href="<%= beer.url %>" class="b-list__title"><%= beer.name %></a>
              <a href="<%= beer.brewery_url %>" class="b-list__author"><%= beer.brewery %></a>
            </div>
          </a>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>