<% unless data.untappd.empty? %>
  <section class="b-card b-beers">
    <h3>Responsibly drinking</h3>
    <ol>
      <% data.untappd.each do |beer| %>
        <li>
          <div class="b-beers__brew">
            <a href="<%= beer.checkin_url %>" class="b-beers__image">
              <img src="<%= image_path "untappd/#{beer.checkin}.jpg" %>" alt="<%= beer.name %>"  />
            </a>
            <div class="b-beers__meta">
              <span class="b-beers__info"><%= beer.type %> &middot; <%= beer.abv %></span>
              <a href="<%= beer.url %>" class="b-beers__name"><%= beer.name %></a>
              <a href="<%= beer.brewery_url %>" class="b-beers__brewery"><%= beer.brewery %></a>
            </div>
          </a>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>