<div class="b-container">
  <%= partial "partials/_header" %>
  <%= partial "partials/_intro" %>
  <%= partial "partials/_twitter" %>
  <%= partial "partials/_writing" %>
  <%= partial "partials/_github" %>
  <%= partial "partials/_photoblog" %>
  <%= partial "partials/_instagram" %>
  <%= partial "partials/_rdio" %>
  <%= partial "partials/_goodreads" %>
  <%= partial "partials/_untappd" %>
  <%= partial "partials/_footer" %>
</div>