<%= partial "partials/_header" %>

  <div class="l-section">
    <div class="l-section__container">
      <%= partial "partials/_intro" %>
    </div>
  </div>

  <div class="l-section odd-columns">
    <div class="l-section__container">
      <%= partial "partials/_twitter" %>
      <%= partial "partials/_writing" %>
      <%= partial "partials/_github" %>
    </div>
  </div>

  <div class="l-section narrow">
    <div class="l-section__container">
      <%= partial "partials/_photoblog" %>
    </div>
  </div>

  <div class="l-section even-columns">
    <div class="l-section__container">
      <%= partial "partials/_instagram" %>
      <%= partial "partials/_rdio" %>
      <%= partial "partials/_goodreads" %>
      <%= partial "partials/_untappd" %>
    </div>
  </div>

  <div class="l-section">
    <div class="l-section__container">
      <%= partial "partials/_elsewhere" %>
    </div>
  </div>

<%= partial "partials/_footer" %>